/* body {
    background-color: #202040;
}
#app {
    color: #fff;
}
#app:hover{
    color: #087ac3;
}
#logo{
    padding-left: 45%;
    padding-top: 15%;
    height: 40%;

}
.card {
    background-color: #202040;
} */


/* 
COLORS

#202040
#202060
#602080
#b030b0
 */